* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px;
  gap: 8px;
}
.form input {
  max-width: 272px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  padding: 8px 16px;
  outline: none;
  transition: border 250ms ease-in-out;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  border: 1px solid #4e75ff;
}

.form button {
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  transition: background-color 250ms ease-in-out;
}

.form button:hover {
  background-color: #6c8cff;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.loader {
  width: 108px;
  height: 16px;
  background:
    radial-gradient(circle 8px at 8px center, #fff 100%, transparent 0),
    radial-gradient(circle 8px at 8px center, #fff 100%, transparent 0);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
  animation: ballX 1s linear infinite;
}
.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #444;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow:
      -38px -12px,
      -14px 0,
      14px 0,
      38px 0;
  }
  33% {
    box-shadow:
      -38px 0px,
      -14px -12px,
      14px 0,
      38px 0;
  }
  66% {
    box-shadow:
      -38px 0px,
      -14px 0,
      14px -12px,
      38px 0;
  }
  100% {
    box-shadow:
      -38px 0,
      -14px 0,
      14px 0,
      38px -12px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  padding: 4px 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  max-width: 100%;
}

.info p {
  font-weight: 600;
  line-height: 1.33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info span {
  font-weight: 400;
  line-height: 2;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  border: none;
  margin-top: 32px;
  transition: background-color 250ms ease-in-out;
}

.load-more:hover {
  background-color: #6c8cff;
}
